<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>

<div class="text">
	<h2>QR-Code</h2>
</div>

<div id="Grafik">
	<qrcode [qrdata]="qrdata" [size]="256" [level]="'M'"></qrcode>
</div>

<br>

<div class="text">
	<label>
		ID der Person eingeben: <input [(ngModel)]="qrdata" placeholder="Personen-ID">
	</label>
	<br>
	<br>
	<button (click)="changeValue('0')">ID=0 (Bud)</button>
	<button (click)="changeValue('1')">ID=1 (Dave)</button>
	<button (click)="changeValue('https://www.google.de')">https://www.google.de</button>
</div>
