<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>

<div id="anschrift">
	<div>
		<i class="fa fa-map-marker"></i>
		<strong> Anschrift</strong>
	</div>
	<div>
		Thomas-Müntzer-Straße 15, 12489 Berlin
	</div>
</div>

<div id="telefon">
	<div >
		<i class="fa fa-phone"></i>
		<strong> Telefon</strong>
	</div>
	<div>
		030 123456789
	</div>
</div>

<div id="mail">
	<div >
		<i class="pi pi-pencil"></i>
		<strong> Mail</strong>
	</div>
	<div>
		mail@easyball.de
	</div>
</div>


<div id="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1216.195070728122!2d13.54545547205275!3d52.43584707146893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a8462ba06ebc89%3A0x6f278b5d03eedba1!2sThomas-M%C3%BCntzer-Stra%C3%9Fe+15%2C+12489+Berlin!5e0!3m2!1sde!2sde!4v1534079686021"
			width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
