div {
/*	border: 1px solid #73AD21; */
}

.gut {
    background-color: green !important;
    color: #ffffff !important;
}

.schlecht {
    background-color: red !important;
    color: #ffffff !important;
}

.links {
	 line-height: 29px;
}