<head>
	<meta http-equiv='content-type' content ='text/html; charset=utf-8'>
</head>

<h2>Event editieren</h2>

<p>Hier können bereits erstellte Events editiert werden. Speichern nicht vergessen !</p>

<div *ngIf="event">
	<h3>{{event.ename}} Details</h3>
	<table>
		<tr>
			<td>Eventname:</td>
			<td><input #ename pInputText value="{{event.ename}}"></td>
			<td></td>
			<td>id:</td>
			<td>{{event.id}}</td>
		</tr>
		<tr>
			<td>Datum:</td>
			<!-- <td><p-calendar #edate dateFormat="dd.mm.yy" [defaultDate]="event.edate"></p-calendar></td> -->
			<td><input #edate pInputText value="{{event.edate | date : 'dd.MM.y'}}"></td>
			<td></td>
			<td>Anmeldungen:</td>
			<td>{{event.ecount}}</td>
		</tr>
		<tr>
			<td>Ort:</td>
			<td><input #eort pInputText value="{{event.eort}}"></td>
			<td></td>
			<td>Besucher:</td>
			<td>{{event.besucher}}</td>
		</tr>
	</table>
	<br>
	<button pButton type="button" icon="pi pi-arrow-left" label="Zurück" class="ui-button-warning" (click)="goBack()"></button>  
	<button pButton type="button" icon="pi pi-check" label="Änderung speichern" class="ui-button-success" (click)="saveEvent(ename.value , edate.value, eort.value)"></button>
</div>


