<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<!-- Hier fest einfügen wegen Formatierung und Übersichtlichkeit -->
<!-- <p>{{aufgabe}}</p> -->

<div>
	<p>Folgende halbwegs kryptische Anfrage haben wir:</p>
	<p>"Eventeinladungen 4.0" :)</p>
	
	<p>Für ein Event (an Bord, Land, Messe,..) sollen Einladungen per Mail verschickt werden, die einen QR Code beinhalten, der beim Empfang gescannt wird, um nachzuvollziehen welcher Gast auf dem Event war.</p>
	
	<p>Anforderung des fiktiven "Kunden":</p>
	
	<ul>
	
		<li>Login in geschützten Bereich</li>
		<li>Liste an Personen verwalten (CRUD – Create, Read, Update, Delete)
			<ul>
				<li>Min. Vorname, Nachname, E-Mail, Firma, Foto</li>
			</ul>
		</li>
		<li>Personen können sich auf einer ungeschützten Webseite für das System anmelden und ihre Daten eintragen. Diese Personen müssen erst im System freigeschaltet werden.</li>
		<li>E-Mail mit Einladung und QR Code pro Person zum Event, wenn Personen im System erstellt werden, oder freigeschaltet wurden</li>
		<li>QR Code soll irgendwie durch ein Gerät, Handy, Pi,... eingescannt werden können und dabei soll der Name + Foto sichtbar sein, um die Person zu identifizieren</li>
		<li>Jeder Code darf nur einmal gescannt werden - danach Hinweis, dass bereits gescannt wurde</li>
		<li>Eine Auswertung wie viele Codes gescannt wurden und wer da / wer nicht da war</li>
	</ul>
	
	<p>Unsere Wünsche:</p>
	<ul>
		<li>Nutzung des Frameworks: <a href="https://www.primefaces.org/primeng/#/">https://www.primefaces.org/primeng/#/</a> und damit auch Angular</li>
		<li>Ansonsten hast du absolut freie Hand =)</li>
	</ul>
	<p>Zusatzaufgabe 1:</p>
	<ul>
		<li>Personen können im System mit einem VIP Status versehen werden. Beim Scannen erhält der Scannende einen Hinweis und verteilt zusätzlich einen Gin Tonic an den Gast</li>
	</ul>
	
	<p>Zusatzaufgabe 2:</p>
	<ul>
		<li>Verwaltung von Events (CRUD)
			<ul>
				<li>Min. Name, Datum, Ort</li>
			</ul>
		</li>
		<li>Personen erhalten Einladungen zu einem Event und müssen statt generell für ein entsprechendes Event freigeschaltet werden</li>
		<li>Auswertung pro Event: wieviele waren da, wer und wer nicht</li>
	</ul>
	
	<p>Enrico Lorenz</p>
</div>