<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>

<div id="anschrift">
	<div>
		<i class="fa fa-map-marker"></i>
		Anschrift
	</div>
	<div>
		<a href="https://www.google.com/maps/place/Thomas-Müntzer-Straße+15,+12489+Berlin/">
			Thomas-Müntzer-Straße 15, 12489 Berlin
		</a>
	</div>
</div>

<div id="telefon">
	<div >
		<i class="fa fa-phone"></i>
		Telefon
	</div>
	<div>
		030 123456789
	</div>
</div>

<div id="mail">
	<div >
		<i class="pi pi-pencil"></i>
		Mail
	</div>
	<div>
		mail@easyball.de
	</div>
</div>