<head>
	<meta http-equiv='content-type' content ='text/html; charset=utf-8'>
</head>

<div *ngIf="person">
	<div class="text">
		<h2>{{person.vname}} {{person.nname}} Details</h2>
	
		<p>Hier können nach einem erfolgreichen Scan Personendaten am Eingang des Events eingesehen und überprüft werden.</p>
	</div>
	
	<div>
	
		<!-- Bild -->
		<div class="ui-g-2 ui-xl-2 ui-l-3 ui-lg-3 ui-md-4 ui-sm-4">
			<img src='{{person.imgurl}}' style="width:100%">
		</div>
		
		<!-- Informationen -->
		<div class="ui-g-10 ui-xl-10 ui-l-9 ui-lg-9 ui-md-8 ui-sm-8">
		
			<div class="ui-g">
				<div class="ui-g-2 ui-xl-2 ui-l-3 ui-lg-4 ui-md-5 ui-sm-5" align="right">Vorname:</div>
				<div class="ui-g-2 ui-xl-2 ui-l-3 ui-lg-4 ui-md-5 ui-sm-5">{{person.vname}}</div>
			</div>
			
			<div class="ui-g">
				<div class="ui-g-2 ui-xl-2 ui-l-3 ui-lg-4 ui-md-5 ui-sm-5" align="right">Nachname:</div>
				<div class="ui-g-2 ui-xl-2 ui-l-3 ui-lg-4 ui-md-5 ui-sm-5">{{person.nname}}</div>
			</div>
			
			<div class="ui-g">	
				<div class="ui-g-2 ui-xl-2 ui-l-3 ui-lg-4 ui-md-5 ui-sm-5" align="right">Firma:</div>
				<div class="ui-g-2 ui-xl-2 ui-l-3 ui-lg-4 ui-md-5 ui-sm-5">{{person.firma}}</div>
			</div>
			
			<div class="ui-g">
				<div class="ui-g-2 ui-xl-2 ui-l-3 ui-lg-4 ui-md-5 ui-sm-5" align="right">Freigeschaltet:</div>
				<div class="ui-g-1 ui-xl-1 ui-l-2 ui-lg-2 ui-md-3 ui-sm-3" [ngClass]="person.darf ? null : 'schlecht'">{{person.darf}}</div>
			</div>
			
			<div class="ui-g">
				<div class="ui-g-2 ui-xl-2 ui-l-3 ui-lg-4 ui-md-5 ui-sm-5" align="right">VIP:</div>
				<div class="ui-g-1 ui-xl-1 ui-l-2 ui-lg-2 ui-md-3 ui-sm-3" [ngClass]="person.vip ? 'gut' : null">{{person.vip}}</div>
			</div>
			
			<div class="ui-g">
				<div class="ui-g-2 ui-xl-2 ui-l-3 ui-lg-4 ui-md-5 ui-sm-5" align="right">Gescannt:</div>
				<div class="ui-g-1 ui-xl-1 ui-l-2 ui-lg-2 ui-md-3 ui-sm-3"  [ngClass]="person.gescannt ? 'schlecht': null">{{person.gescannt}}</div>
			</div>
			
			<div *ngIf="person.gescannt">
				<button type="button" pButton icon="pi pi-exclamation-triangle" class=ui-button-danger label="Code wurde bereits gescannt !"></button>
			</div>
			
			<div *ngIf="person.gescannt == false">
				<button type="button" pButton class=ui-button-success label="Der Code ist gültig."></button>
				<div *ngIf="person.vip">
					<button type="button" pButton class=ui-button-warning label="Dem Gast einen GinTonic ausgeben !"></button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="ui-g-12">
		<a routerLink="/qrscanner">
			<button pButton type="button" label="Nächster Scan" class="ui-button-warning ui-g-12" align="center"></button>
		</a>
	</div>  
</div>



