<head>
	<meta http-equiv='content-type' content ='text/html; charset=utf-8'>
</head>

<div style="margin: 5px">
	<h2>Personenliste</h2>
	<p>
	  Hier soll eine Liste der Personen hin mit:
	</p>
	<ul>
		<li>Vorname</li>
		<li>Nachname</li>
		<li>E-Mail</li>
		<li>Firma</li>
		<li>Foto (aktuell nur per URL)</li>
	</ul>
</div>

<!-- p-table von PrimeNG -->
<div style="margin: 5px">
	<p-table #dt [columns]="cols" [value]="persons" [paginator]="true" [rows]="4" [autoLayout]=true>
	    <!-- globales Suchfeld -->
	    <ng-template pTemplate="caption">
	        <div style="text-align: right">        
	            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
	            <input type="text" pInputText size="25" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
	        </div>
	    </ng-template>
	    
	    <ng-template pTemplate="header" let-columns>
	        <tr>
	        	<!-- Kopfzeile mit Beschriftung der Spalten -->
	            <th *ngFor="let col of columns">
	                {{col.header}}
	            </th>
	        </tr>
	        <tr>
	        	<!-- Suchfelder der Spalten -->
	            <th *ngFor="let col of columns" [ngSwitch]="col.field">
	                <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" size="1">
	                <input *ngSwitchCase="'vname'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" size="10">
	                <input *ngSwitchCase="'nname'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" size="10">
	                <input *ngSwitchCase="'mail'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
	                <input *ngSwitchCase="'firma'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
	                <p-dropdown *ngSwitchCase="'darf'" [options]="bools" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
	                <p-dropdown *ngSwitchCase="'vip'" [options]="bools" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
	                <p-dropdown *ngSwitchCase="'gescannt'" [options]="bools" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
	            </th>
	        </tr>
	    </ng-template>
	    <!-- der eigentliche Inhalt der Tabelle --> 
	    <ng-template pTemplate="body" let-rowData let-columns="columns">
	        <tr [pSelectableRow]="rowData">
	            <td *ngFor="let col of columns" [ngSwitch]="col.field">
	            	<div *ngSwitchCase="'id'" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" align='center'>{{rowData[col.field]}}</div>
	                <div *ngSwitchCase="'vname'" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">{{rowData[col.field]}}</div>
	                <div *ngSwitchCase="'nname'" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">{{rowData[col.field]}}</div>
	                <div *ngSwitchCase="'mail'" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">{{rowData[col.field]}}</div>
	                <div *ngSwitchCase="'firma'" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">{{rowData[col.field]}}</div>
	                <div *ngSwitchCase="'imgurl'" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" align='center'><img src="{{rowData[col.field]}}" height="50" width="50"></div>
	                <div *ngSwitchCase="'darf'" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">{{rowData[col.field]}}</div>
	                <div *ngSwitchCase="'vip'" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">{{rowData[col.field]}}</div>
	                <div *ngSwitchCase="'gescannt'" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">{{rowData[col.field]}}</div>
	                <div *ngSwitchCase="'admin'" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
	                	<a routerLink="/editperson/{{rowData['id']}}">
	            			<button pButton type="button" icon="pi pi-pencil" class="ui-button-warning"></button>  
		            	</a>  
		            	<a routerLink="/personenliste" routerLinkActive="active">        
		            		<button pButton type="button" icon="pi pi-times" class="ui-button-danger" title="deleteperson" (click)="delete(rowData['id'])"></button>
	                	</a>
	                </div>
	            </td>
	        </tr>
	    </ng-template>
	</p-table>
</div>

<div style="margin: 5px">
	<button pButton type="button" icon="pi pi-user-plus" class="ui-button-success" title="addperson" (click)="add()" label="Irgendwen hinzufügen"></button>
</div>

